# macOS stuff
.DS_Store

# optimized python files
*.py[cod]
_pycache__/

# distribution / packaging
build
dist
*.egg-info

# documentation / sphinx
docs/build
docs/time

# unit test / coverage reports
.coverage
coverage.xml
.cache
.pytest_cache/
htmlcov/

# editors / IDEs
.idea/
*.sublime-project
*.sublime-cache
*.sublime-workspace
.pydevproject
.settings
.project
.vscode/

# scripts
_pypi.sh
_sphinx.sh
