# optimized python files
*.py[cod]
_pycache__/

# distribution / packaging
build
dist
*.egg-info

# documentation / sphinx
docs/build
docs/time

# unit test / coverage reports
.coverage
.cache
.pytest_cache/

# editors / IDEs
.idea/
*.sublime-project
*.sublime-cache
*.sublime-workspace
.pydevproject
.settings
.project

# scripts
submit_pypi.sh
update_sphinx.sh
