numpy
scipy
astropy
photutils
scikit-learn
scikit-image<=0.18.1 # unsolved bug in skimage.registration.phase_cross_correlation since that version - cfr. Issues on their GitHub
emcee==2.2.1
nestle
corner
pandas
matplotlib>=3.7.0
psutil
pyprind
munch
nbsphinx
hciplot>=0.2.4
typing
dataclass_builder
