numpy
scipy
astropy
photutils
scikit-learn
scikit-image>0.17.0, <=0.18.3 # unsolved bug in skimage.registration.phase_cross_correlation for versions >0.18.3 up to at least 0.22. Req>0.17 to have the reference mask option implemented in that function.
emcee==2.2.1
nestle
corner
pandas
matplotlib>=3.7.0
psutil
pyprind
munch
nbsphinx
hciplot>=0.2.4
typing
dataclass_builder
