# This workflow will install Python depe:ndencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: ci

on: [push, pull_request]

concurrency:
  # auto-cancel any in-progress job *on the same branch*
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  # drastically reduce overhead from coverage measurement (on Python 3.12+)
  COVERAGE_CORE: sysmon

jobs:
  no_object_checks:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
        group: [1, 2, 3]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --editable . --group dev
    # Uncomment below when ready to deal with a lot of PEP8 formatting changes
    - name: Verify files with pre-commit
      run: |
        # Setup pre-commit hooks
        pre-commit clean
        pre-commit install --hook-type pre-merge-commit
        pre-commit install --hook-type pre-push
        pre-commit install --hook-type post-rewrite
        pre-commit install-hooks
        pre-commit install
        # Run pre-commit hooks
        pre-commit run --files src/**/*.py
    - name: Test with pytest
      run: |
        coverage run --source src -m pytest tests/pre_3_10 --splits 3 --group ${{ matrix.group }}
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3

  objects_check:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --editable . --group dev
    - name: Verify files with pre-commit
      run: |
        # Setup pre-commit hooks
        pre-commit clean
        pre-commit install --hook-type pre-merge-commit
        pre-commit install --hook-type pre-push
        pre-commit install --hook-type post-rewrite
        pre-commit install-hooks
        pre-commit install
        # Run pre-commit hooks
        pre-commit run --files src/vip_hci/objects/*.py
    - name: Test with pytest
      run: |
        coverage run --source=src/vip_hci/objects/ -m pytest tests/post_3_10
        coverage xml
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
